@import url("https://fonts.googleapis.com/css?family=Raleway:400,900|Roboto:300,400,700,900");

body{
background: #ECECEC;
font: 300 24px/1.5 Roboto, sans-serif;
}

/* Layout */
.ba-container{
	max-width: 1240px;
	padding-left: 20px;
	padding-right: 20px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-intro {
	padding: 50px 0 50px;

}

.ba-header {
	display: flex;
	align-items: center;
	flex-direction: row;

}

.ba-logo {
	font: 900 48px/27px Roboto, sans-serif;
	display: inline-block;
	color: #2C2C2C;
}

.ba-nav {
	flex-grow: 1;


}

.ba-menu {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	list-style: none;
}

.ba-menu a {
	font: 400 18px/27px Roboto, sans-serif;
	color: #303030
}

.ba-menu a:hover{
	color: #e10011;
	font-weight: 600;
}

.ba-menu li {
	display: inline-block;
	padding-right: 40px;

}


.ba-menu-list {
	display: flex;
	justify-content: flex-end;

}

.ba-menu-list span{
	display: block;
	border-bottom: 3px solid;
	padding-top: 2px;
	width: 17px;
	border-color: #2C2C2C;
}

a {
	text-decoration: none;
}

.ba-slider {
	max-width: 1200px;
	font-size: 0;
	padding-top: 100px;
}


.ba-column-left, .ba-column-right {
	display: inline-block;
	margin: 0;
}

.ba-column-left {
	width: 50%;
	font: 300 24px/36px Roboto, sans-serif;
	text-align: right;
	color: #303030;
	margin: 0 9% 0 0;
}

.ba-column-right {
	width: 40%;
	vertical-align: top;
	text-align: left;
}

.ba-product-title {
	font: 900 150px/1 Raleway, sans-serif;
	margin: 0;
	text-align: right;
}

.ba-column-right .slider-img {
	padding-left: 40px;
}

.slider-img {
	flex-grow: 1;
}

.ba-link-product-more {
	color: #DF0009;
	font-weight: 700;
}

.ba-link-product-more:hover{
	color: black;
}

.ba-ftrd-products {
	background: #fff;
	padding: 100px 72px 72px 72px;
	margin-top: 100px;
}

.ba-ftrd-products-title {
	text-align: center;
	font: 900 48px/1 Raleway, sans-serif;
	margin: 14px 0 0 0;
}

.ba-ftrd-products-title:after {
	content: "";
	background-image: url("../img/underline.png");
	background-repeat: no-repeat;
	height: 18px;
	display: block;
	background-position: center;
	margin-top: 20px;
}

.ba-prod-paragraph {
	text-align: center;
	max-width: 555px;
	font: 400 18px/1 Raleway, sans-serif;
	margin-right: auto;
	margin-left: auto;
	margin-top: 13px;
	padding-bottom: 40px;
}

.ba-prod-paragraph p {
	margin: 0;
}

.ba-prod-link {
	display: block;
	background: red;
	text-decoration: none;
	position: relative;
	border-radius: 5px;
}

.ba-prod-link img {
	display: block;
	max-width: 100%;
}

.ba-row-top {
	padding-top: 38px;
	margin-left: -36px;
}

.ba-row-bottom {
	margin-left: -36px;
	margin-top: 36px;
}

.ba-col-30 {
	float: left;
	width: 33%;
	padding-left: 36px;
}

.ba-col-70 {
	float: left;
	width: 66%;
	padding-left: 36px;
}

.ba-futured-product_description {
	opacity: 0;
	color: #FFF;
	padding: 40px;
	background: #e10011;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0;
}

.ba-futured-product_description:hover {
	opacity: 1;
	border-radius: 5px;
}

.ba-bottom-line {
	display: block;
	border-bottom: 4px solid white;
	max-width: 90px;
}


